---
layout: default
title: {{{collection_name}}}
parent: Refaster Rules
---

# {{{collection_name}}} {#{{collection_name}}}
{: .no_toc }

{{#severity_level}}
{{{content}}}
  {: .label .label-{{{color}}} }
{{/severity_level}}
{{#tags}}
{{.}}
  {: .label }
{{/tags}}

<a href="{{source_url}}" class="fs-3 btn external"
   target="_blank">
    View source code on GitHub
    <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title">
        <use xlink:href="#svg-external-link"></use>
    </svg>
</a>

<details open markdown="block">
  <summary>
    Table of contents
  </summary>
  {: .text-delta }
  1. TOC
  {:toc}
</details>

{{#rules}}
## {{rule_name}} {#{{rule_name}}}

{{#severity_level}}
{{{content}}}
  {: .label .label-{{{color}}} }
{{/severity_level}}
{{#tags}}
{{.}}
  {: .label }
{{/tags}}

{: .note-title }
> Suppression
>
> Suppress false positives by adding the suppression annotation `@SuppressWarnings("{{rule_name}}")` to 
> the enclosing element.

### Samples
{: .no_toc .text-delta }

Shows the difference in example code before and after the Refaster rule is
applied.

{{#samples}}
```diff
{{{.}}}
```
{{/samples}}
{{/rules}}
