---
layout: default
title: {{name}}
description: "{{{summary}}}"
parent: Bug Patterns
nav_order: 1
---

# {{name}}

{{#severity_level}}
{{{content}}}
  {: .label .label-{{{color}}} }
{{/severity_level}}
{{#tags}}
{{.}}
  {: .label }
{{/tags}}

<a href="https://github.com/PicnicSupermarket/error-prone-support/blob/master/error-prone-contrib/src/main/java/{{bugpattern}}" class="fs-3 btn external"
   target="_blank">
    View source code on GitHub
    <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title">
        <use xlink:href="#svg-external-link"></use>
    </svg>
</a>

{: .summary }
{{{summary}}}

{{{explanation}}}

{{#suppression}}
## Suppression
{{{suppression}}}
{{/suppression}}

{{#has_samples}}
## Samples

{{#has_replacement_samples}}
### Replacement

Shows the difference in example code before and after the bug pattern is
applied.

{{#replacement_samples}}
```diff
{{{.}}}
```
{{/replacement_samples}}
{{/has_replacement_samples}}

{{#has_identification_samples}}
### Identification

Shows code lines which will (not) be flagged by this bug pattern. \
A `//BUG: Diagnostic contains:` comment is placed above any violating line.

{{#identification_samples}}
```java
{{{.}}}
```
{{/identification_samples}}
{{/has_identification_samples}}
{{/has_samples}}
